{{#if this.hasWinner}}
<h1>WINNER! Player '{{ this.logic.turn }}'</h1>
{{/if}}
{{#each @data as |row index|}}
  <BoardRow @row={{row}}
            @index={{index}}
            @winner={{this.hasWinner}}
            @store={{action "checkWinner"}}/>
{{/each}}

{{yield}}
