{{#if this.hasWinner}}
  <h2 class="text-center">
      Winner player <span class="shadows-into-light">{{ this.logic.turn }}</span>
  </h2>
{{else}}
  <h2 class="text-center">
      Turn player <span class="shadows-into-light">{{ this.logic.turn }}</span>
  </h2>
{{/if}}
{{#each @data as |row index|}}
  <BoardRow @row={{row}}
            @index={{index}}
            @winner={{this.hasWinner}}
            @store={{action "checkWinner"}}/>
{{/each}}
